body{
    height: 100%;
    background-color: #fafafa;
}

.card-container{
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 35px;
    background-color: #ffffff;
    margin-bottom: 25px;
}

.name{
    padding-right: 20px;
}

.result-row{
     height: 40px;
}