.card-container{
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 35px;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.name{
  padding-right: 20px;
  padding-left: 20px;
}

.result-row{
  height: 40px;
}

#player-input{
  margin-bottom: 20px;
}

.delete-button{
  //font-family: 'Lobster', cursive;
  font-size: 15px;
  font-weight: 600;
  color: #c9302c;
}

.btn-link:focus, .btn-link:hover {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
