/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  background-color: #fafafa;
}
body,html{
  height: 100%;
  overflow-y: auto;
}
