<div class="container">
<div class="card-container clearfix">
  <div class="card col-lg-12 text-center">
    <div class="btn-group" dropdown>
      <select dropdownMenu role="menu" class="text-center form-control" aria-labelledby="single-button" (change)="setQuantity($event.target.value)">
          <option role="menuitem" disabled="disabled">Quantity of dices</option>      
          <option role="menuitem" *ngFor="let number of possibleNumberOfDiceChoice" (click)="setQuantity(number)">{{number}}</option>
      </select>
    </div>
    <div class="btn btn-danger" (click)="rollDices()">
      Roll The Dices
    </div>
    <div class="btn btn-default" routerLink="/Game-choice">
      Change Game
    </div>
  </div>
</div>

 <div class="clearfix dices-container row-centered">
      <div *ngFor="let dice of dices" class="dice-result col-lg-2 col-md-2 col-sm-4 col-xs-6 col-centered">
        <img class="dice-image" src={{dice.image}}>
      </div>
    </div>
</div>

