.card-container{
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 6%;
  background-color: #ffffff;
}

.dice-result{
  font-size: 100px;
  text-align: center;
  padding: 20px 0 20px 0;
}

.dice-image{
  width: 120px;
  height: auto;
}

.dices-container{
  margin-top: 10%;
  text-align: center;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
}

@media only screen and (max-width: 768px) {
  .dices-container{
    margin-top: 4%;
    text-align: center;
  }
  .dice-result{
    font-size: 100px;
    text-align: center;
    padding: 0;
  }
}
